<h1>Restaurants</h1>
<div class="card-product">
  <img src="" />
  <div class="card-product-infos">
    <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p>Category: <%= restaurant.category %></p>
    <p><strong><%= restaurant.address %></strong></p>
    <p><%= restaurant.phone_number %></p>
    <% end %>
  </div>
</div>


